---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="404 / flagaholic">
  <main class="page page-narrow error-page">
    <p class="eyebrow">holic&#123;404_n07_f0und_GET_OU77T7TTT7T7TT!!&#125;</p>
    <h1>where do you think youre going &gt;:( ??</h1>
    <a class="error-home" href="/">Go back home!</a>
  </main>
</BaseLayout>
